# Database
DB_URL=jdbc:mysql://mysql:3306/korail?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&useUnicode=true
DB_USERNAME=root
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=korail

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
